################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lab_2/lab_2_cpp/.vs/lab_2_cpp/v17/Browse.VC.db
